{% extends 'layouts/admin.html.twig' %}

{% block content %}
    
    <div class="profile-page">

        <div class="profile-page-header h-100 p-3 bg-light border rounded-3 mb-3">
            <div class="row">
                <div class="col-4 col-lg-3">
                </div>
                <div class="col-8 col-lg-9">
                    <table>
                        <tbody>
                            <tr>
                                <th>Prénom : </th>
                                <td>{{ user.firstname ?? '' }}</td>
                            </tr>
                            <tr>
                                <th>Nom de famille : </th>
                                <td>{{ user.lastname ?? '' }}</td>
                            </tr>
                            <tr>
                                <th>Nom d'utilisateur : </th>
                                <td>{{ user.username ?? '' }}</td>
                            </tr>
                            <tr>
                                <th>Adresse e-mail : </th>
                                <td>{{ user.email ?? '' }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="profile-page-infos"></div>

        <div class="profile-page-content">
            {% include 'admin/user/tabs/nav-tabs.html.twig' %}
            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    {% include "admin/user/tabs/form.html.twig" %}
                </div>
                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                    {% include "admin/user/tabs/posts.html.twig" %}
                </div>
                <div class="tab-pane fade" id="action" nrole="tabpanel" aria-labelledby="action-tab">
                    {% include "admin/user/tabs/actions.html.twig" %}
                </div>
            </div>
        </div>
    
        
    </div>

    <a href="{{ path('admin_user_index') }}">back to list</a>
{% endblock %}
